<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Sign Up</title>
  </head>
  <body>
    <%- include('../navbar') %>

    <section>
      <h1>Create an account</h1>
      <form action="/auth/sign-up" method="post">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" required/>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" required/>

        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" required/>

        <label for="brandName">Brand Name</label>
        <input type="text" name="brandName" id="brandName" required/>

        <label for="about">About the Brand</label>
        <textarea name="about" id="about" rows="3"></textarea>

        <label for="logoUrl">Logo URL</label>
        <input type="text" name="logoUrl" id="logoUrl" />

        <button type="submit">Sign up</button>
      </form>
      <p class="form-footer">
        Already have an account? <a href="/auth/sign-in">Sign in</a>
      </p>
    </section>
  </body>
</html>