<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pearl Vault</title>
</head>
<body>
    <%- include('navbar') %>
    <h1>Pearl Vault</h1>
    <h3>A catalogue showcasing handcrafted pearl jewelry created by local Bahraini brands.</h3>
    <a href="/jewelry">Explore Jewelry</a>
    <section>
        <h4>About the Platform</h4>
        <p>Inspired by Bahrain's pearl heritage, Pearl Vault brings local jewelry brands together in one place, allowing designers to showcase their collections while visitors explore unique pearl pieces.</p>
    </section>
    <section>
        <h4>For Jewelry Brands</h4>
        <p>Are you a jewelry brand or designer? Create an account to add, manage, and showcase your pearl jewelry collection.</p>
        <a href="/auth/sign-up">Create an Account</a>
    </section>

    
</body>
</html>