<nav class="navbar">
  <div class="left-navbar">
    <a href="/" class="logo">
      <img src="/images/logo.png" alt="Pearl Vault logo" height="40">
    </a>

    <a href="/brands">Browse Brands</a>
    <a href="/jewelry">All Jewelry</a>
  </div>

  <div class="right-navbar">
    <% if (user) { %>
      <span class="welcome">Welcome, <%= user.brandName %></span>
      <a href="/jewelry/new">Add Jewelry</a>
      <a href="/auth/sign-out">Logout</a>
    <% } else { %>
      <a href="/auth/sign-up">Sign up</a>
      <a href="/auth/sign-in">Login</a>
    <% } %>
  </div>
</nav>
