* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.left-navbar, .right-navbar {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.logo img {
  display: block;
}
